body {
  background: #222222;
  color: #EEEEEE;
}

a {
  color: #EEEEEE;
}

select, optGroup, option {
  background: #222222;
  color: #EEEEEE;
}

#header {
  border-bottom-color:#D3D3D3;
}

#header #css_toggle #dark {
  display: none;
}

footer {
  background-color: #222222;
  border-top-color: #778899;
}

table {
  background-color: #111111;
}

table th, table td {
  border-color: #D3D3D3;
}

.selectable:hover, .selectable:hover label {
  background-color: #00008B;
}

.cell_content {
  background-image: linear-gradient(135deg, #111111, transparent);
  border-color: #D3D3D3;
  border-bottom-color: #778899;
  border-right-color: #778899;
}

.cell#info table {
  border-top-color: #D3D3D3;
}

#item_image {
  background-color: #111111;
  border-color: #D3D3D3;
  border-bottom-color: #778899;
  border-right-color: #778899;
}

#materials .material.recipe::before {
  color: #DDDDDD;
}


.speech_bubble {
  background: #DDDDDD;
  color: #222222;
  padding: 5px 10px 5px 60px;
}

.speech_bubble::after {
  background-image: url('img/units/LAPSstrn.png');
  left: -25px;
}
