body {
  background: #DDDDDD;
  color: #222222;
}

a {
  color: #222222;
}

select, optGroup, option {
  background: #DDDDDD;
  color: #222222;
}

#header {
  border-bottom-color: #3D3D3D;
}

footer {
  background-color: #DDDDDD;
  border-top-color: #776655;
}

table {
  background-color: #EEEEEE;
}

table th, table td {
  border-color: #3D3D3D;
}

.selectable:hover, .selectable:hover label {
  background-color: #00008B;
}

.cell_content {
  background-image: linear-gradient(135deg, #EEEEEE, transparent);
  border-color: #3D3D3D;
  border-bottom-color: #776655;
  border-right-color: #776655;
}

.cell#info table {
  border-top-color: #3D3D3D;
}

#item_image {
  background-color: #EEEEEE;
  border-color: #3D3D3D;
  border-bottom-color: #776655;
  border-right-color: #776655;
}

#seals label:hover {
  background-image: radial-gradient(#00FF00, transparent);
}
#seals .seal_on label {
  background-image: radial-gradient(#00FF00, transparent);
}
#seals .seal_on label:hover {
  background-image: radial-gradient(#FF0000, transparent);
}

#materials .material {
  background-image: radial-gradient(closest-side, #FF0000, transparent);
}

#materials .material.recipe::before {
  color: #222222;
}

.speech_bubble {
  background: #EEEEEE;
  border: 1px solid #111111;
  color: #111111;
}

.speech_bubble::after {
  background-image: url('img/units/LAPSmont.png');
}
