body {
  background: #333333;
  color: #FFFFFF;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

select, optGroup, option {
  background: #333333;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#header {
  border-bottom: 3px solid #D3D3D3;
  text-align: center;
  width: 100%
}

#header h1 {
  height: 40px;
}

#main_content {
  margin: 0 auto;
  margin-bottom: -20px;
  padding: 10px;
  max-width: 1000px;
}

footer {
  border-top: 3px solid #778899;
  font-weight: bold;
  height: 20px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

#inputs {
  margin: 10px 0;
}

#inputs select {
  margin: 0 5px;
}

table {
  background-color: #000000;
  border-collapse: collapse;
  border-style: hidden;
}

table th, table td {
  border: 3px solid #D3D3D3;
  padding: 5px;
  text-align: center;
}

#seals {
  display: inline-block;
}
#seals.hidden {
  display: none;
}

#seals img {
  width: 50px;
}

table#saved {
  width: 100%;
}

.selectable:hover, .selectable:hover label {
  background-color: #00008B;
  cursor: pointer;
}

.grid .cell {
  float: left;
  margin: 0;
}

.cell#info {
  width: 20%;
}

.cell#info table {
  border-top: 3px solid #D3D3D3;
  margin: 5px 0 0 0;
  width: 100%;
}

.equipment {
  background-color: #000000;
  border: 1px solid #D3D3D3;
  border-bottom-color: #778899;
  border-right-color: #778899;
  border-radius: 20px;
  margin: 5px;
}
.equipment.weapon {
  background-image: radial-gradient(closest-side,#6A0DAD, transparent);
}
.equipment.armor {
  background-image: radial-gradient(closest-side,#0000FF, transparent);
}
.equipment.accessory {
  background-image: radial-gradient(closest-side,#00FF00, transparent);
}
.equipment img {
  width: 100%;
}

#item_image {
  border-size: 3px;
}

.skill_desc {
  font-size: smaller;
}

.cell#growth {
  width: 80%;
}
.cell#growth #stats {
  width: 100%;
}

.cell#growth #stats td {
  font-size: smaller;
}

.cell#growth #stats td:first-child {
  font-size: medium;
}

#materials .material {
  background-image: radial-gradient(closest-side,brown, transparent);
  border-radius: 50%;
  width: 50px;
}

#materials .material img {
  width: 100%;
}

.cell_content {
  background-image: linear-gradient(135deg, #000000, transparent);
  border: 3px solid #D3D3D3;
  border-bottom-color: #778899;
  border-right-color: #778899;
  margin: 5px;
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}
