body {
  cursor: default;
}

body a {
  color: black;
}

#header {
  border-bottom: 1px solid black;
  text-align: center;
  width: 100%
}

#header h1 {
  height: 40px;
}

#main_content {
  margin: 0 auto;
  margin-bottom: -20px;
  padding: 10px;
  max-width: 1000px;
}

footer {
  border-top: 1px solid black;
  font-weight: bold;
  height: 20px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

#inputs {
  margin: 10px 0;
}

#inputs select {
  margin: 0 5px;
}

table {
  border-collapse: collapse;
  margin: 0 5px;
}

table th, table td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

table#seals {
  margin: 5px auto;
}

table#seals img {
  width: 50px;
}

table#seals td.disabled {
  background-color: lightgray;
}

table#seals td.disabled, table#seals td.disabled label {
  cursor: default;
}

table#saved {
  width: 100%;
}

.selectable:hover, .selectable:hover label {
  background-color: lightblue;
  cursor: pointer;
}

.grid .cell {
  float: left;
  margin: 0;
}

.cell#info {
  width: 15%;
}

.cell#info img#image {
  width: 100%;
}

.cell#stats {
  width: 85%;
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

.borderless {
  border: none;
}
