table, th, td {
  border: 1px solid black;
  text-align: center;
}

table th {
  width: 45px;
}

table th:first-child {
  width: 60px;
}

th {
  padding: 5px;
}

.disabled {
  background-color: lightgray;
}

.testing {
  display: none;
}

#skills {
  border: 1px solid black;
  padding: 10px;
}
